# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. C++
5. Java etc..;

Some of the commonly used libraries used by Data Scientists include:
1. TensorFlow.
2. NumPy.
3. SciPy.
4. Pandas.
5. Matplotlib.
6. Keras.
7. SciKit-Learn.
8. PyTorch. etc..;

|Data Science Tools|
|---|
|SAS|
|Apache Hadoop|
|TensorFlow|

### Below are a few examples of evaluating arithmetic expressions in Python.

In [2]:
#this is a common arithmetic example to multiply and then add integers
(3*4)+5

17

In [3]:
#This witl convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

**Objective**

* List popular languages for Data Science
* List popular libraries for Data Science
* List of Well known Data Science Tools
* How to Provide comments in the cell

## Author
Rishab Raj